
.main-header{
    background-color:#098335;
    padding: 24px 16px;
}
.search-box{
    color: #6B6B6B;
    overflow: hidden;
    position: relative;
    background-color: #2A2A2A;
    padding: 6px 12px;
    border-radius: 24px;
}
#searchInput{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    color: #6B6B6B;
    border: 0 none;
    background: transparent;
    top: 0;
    left: 0;
}
.upgrade.btn{
    width: 119px;
    text-align: center;
    background: #054F20;
    border: 1px solid #1BF869;
}
.account-section {
    color: #fff;
    background: #054F20;
}
.sliderTitle{
    color: #fff;
    font-size: 32px;
    font-family: 'Catamaran';
}
.seeAll{
    color: #1BF869;
    font-size: 16px;
    cursor: pointer;
}
.seeAll:hover{text-decoration: underline;}
.item-music{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 32px;
    background-size: 180% !important;
    cursor: pointer;
    width: 200px;
    height: 300px;
    background: url(../img/playList/Cover03.png)no-repeat ,linear-gradient(0deg, rgba(54, 54, 54, 0.75), rgba(54, 54, 54, 0.75));
    background-blend-mode: luminosity, normal;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(40.7742px);
    border-radius: 8px;
    transition: .15s;
    margin: 1.5rem 1rem;
}
.item-music:hover{
    transform: translateY(-8px) scale(1.05);
}
.liked-item{
    border: rgb(82, 0, 0) 3px solid;
}
.liked-item .bi-heart-fill{
    font-size: 28px;
    color: red;
    position: absolute;
    top: -15px;
    right: -15px;
    transition: .15s;
}
.item:hover{
    border-radius: 13px;
}
.item img{
    width: 170px !important;
    transition: .15s;
    border-radius: 8px;
}
.item:hover img{
    transform: scale(1.04);
    border-radius: 13px;
}
.songName{
    font-weight: 600;
    text-shadow: 0 0 10px #00000055;
    color: #fff;
    font-size: 24px;
}
.artistName{
    font-style: normal;
    text-shadow: 0 0 10px #00000055;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
}
.owl-carousel .item-banner > div{
    display: flex;
    flex-flow: column;
}
.owl-carousel .item-banner{
    transition: .15s;
    display: flex;
    border-radius: 8px;
    background-blend-mode: luminosity, normal;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40.7742px);
    flex-flow: row;
    align-items: center;
    padding: 8px;
    gap: 24px;
    background-size: 110% !important;
    width: 504px ;
    height: 199px;
}
.owl-carousel1 .owl-stage{
    height: 350px;
    overflow: hidden;
}
.bannerCaption{
    font-weight: 400;
    font-family: irsans;
    font-size: 13px;
    line-height:20px;
    color: #B6B6B6;
}